@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&family=Encode+Sans:wght@300&family=Montserrat&display=swap');
.App{
  text-align: center;
}
.logo{
  text-align: center;
  color: rgb(108, 33, 246);
  font-family: 'Encode Sans SC',
  sans-serif;
  background-image: url("https://img.freepik.com/premium-vector/vector-art-design-colorful-graffiti-background_450492-25.jpg?w=2000");
  margin-top: 0px;
  padding: 10PX;
  margin-bottom: 40px;
  font-size: xx-large;

}

.blog-container{
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Encode Sans SC',
  sans-serif;
}

.post-header h3{
  color: rgb(42, 7, 76);
  margin-bottom: 0;
  font-size: larger;
}

.post-header p{
  color: grey;
  font-size: small;  
}

.post-container{
  text-align: left;
  padding: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 400px;
  border-radius: 15px;
  background-color: rgb(247, 240, 234);
  font-family: 'Encode Sans',
  sans-serif;
  
}

.form{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form form{
  display: flex;
  flex-direction: column;
  
}

.form form input{
  margin: 10px;
  border-radius: 15px;
  height: 10px;
  padding: 10px;
}
.form form textarea{
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  
}

.submit-button{
  border: none;
  background-color: rgb(88, 204, 208);
  cursor: pointer;
}

.submit-button:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.show-form{
  padding: 5px;
  width: 200px;
  background-color: darkslategrey;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}

.show-form:hover{
  box-shadow:  5px 5px 5px 5px rgba(255, 32, 255, 0.7);
}

.head{
  display: flex;
  justify-content: space-between;
}

.read-button{
  height: 20px;
  border: none;
  border-radius: 20px;
  width: 60px;
  background-color: rgb(125, 38, 248);
  color:rgb(217, 254, 255);
  cursor: pointer; 
}